* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #edeeed;
}

.drops {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drop {
  position: absolute;
  height: 150px;
  width: 150px;
  background: transparent;
  border-radius: 57% 43% 37% 63% / 45% 52% 48% 55%;
  box-shadow: inset 10px 10px 10px rgba( 0, 0, 0, 0.05), 15px 25px 10px rgba(0, 0, 0, 0.01);
}